body {
    background-color: antiquewhite;
}

#hero {
    position: relative;
    text-align: center;
}

#hero img {
    width: 100%;
    opacity: 0.5;
}

h1 {
    text-align: center;
}

#hero h1 {
    font-weight: bold;
    font-size: 8rem;
    color: rgb(53, 49, 49);
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainContent {
    text-align: center;
}

#mainButtons button {
    min-width: 8rem;
}

.inputGroup{
    gap: 20px;
    margin-bottom: 20px;
}

.formBtn {
    gap: 20px;
}

.formBtn button {
    width: 150px;
}

#passwordBtn {
    margin-top: 5px;
}

.input {
    gap: 4rem;
}

#showPwd {
    margin-top: 1rem;
}

#submit {
    text-align: center;
}