#hero img {
    width: 100%;
    opacity: 0.5;
}

#hero {
    position: relative;
    text-align: center;
}

#hero h1 {
    font-weight: bold;
    font-size: 5rem;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}